{% extends 'website/main.html' %}
{% load bootstrap3 %}
{% load website_extras %}

{% block main_content %}

    <div class="row">
        <div class="col-lg-12 text-center">
            <h2>Detail page for {{ object.imdb_id }}</h2>
            <br />
        </div>
    </div>

    <div class="row">
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-film fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ total_rated }}</div>
                            <div>Movies rated!</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-warning">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-star fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ average_rating|floatformat:2 }}</div>
                            <div>Your Average Rating</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            <i class="fa fa-users fa-5x"></i>
                        </div>
                        <div class="col-xs-9 text-right">
                            <div class="huge">{{ average_imdb_rating|floatformat:2 }}</div>
                            <div>Average IMDB Rating</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3 col-md-6">
        {% if average_rating|subtract:average_imdb_rating > 0 %}
            <div class="panel panel-success">
        {% else %}
            <div class="panel panel-danger">
        {% endif %}
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-xs-3">
                            {% if average_rating|subtract:average_imdb_rating > 0 %}
                                <i class="fa fa-thumbs-up fa-5x"></i>
                            {% else %}
                                <i class="fa fa-thumbs-down fa-5x"></i>
                            {% endif %}
                        </div>
                        <div class="col-xs-9 text-right">
                            {% if average_rating|subtract:average_imdb_rating > 0 %}
                                <div class="huge">{{ average_rating|subtract:average_imdb_rating|floatformat:2 }}</div>
                                <div>Kinder than IMDB Users</div>
                            {% else %}
                                <div class="huge">{{ average_imdb_rating|subtract:average_rating|floatformat:2 }}</div>
                                <div>Harsher than IMDB Users</div>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">

        <div class="col-lg-6 text-center">

            <div id="container" style="width:100%; height:350px;"></div>

        </div>

        <div class="col-lg-6 text-center" style="min-height: 350px;">


                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <span style="font-size:5em;" class="glyphicon glyphicon-sunglasses"></span>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div><strong>Top Hipster Films</strong></div>
                                {% for item in hipster_list|slice:":3" %}
                                    <div>{{ forloop.counter }}. {{ item.title }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <div><a href="#">What's this?</a></div>
                    </div>
                </div>



                <div class="panel">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col-xs-3">
                                <i class="fa fa-users fa-5x"></i>
                            </div>
                            <div class="col-xs-9 text-right">
                                <div><strong>Top Popular Films</strong></div>
                                {% for item in hipster_list|slice:"3:" %}
                                    <div>{{ forloop.counter }}. {{ item.title }}</div>
                                {% endfor %}
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer text-right">
                        <div><a href="#">What's this?</a></div>
                    </div>
                </div>


        </div>

    </div>

        <div class="row">

            <div class="col-lg-6 text-center">

                    <div class="panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-line-chart fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div><strong>Longest Films</strong></div>
                                    {% for item in runtime_list|slice:"3:" %}
                                        <div>{{ forloop.counter }}. {{ item.title }} - {{ item.runtime }} mins</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <div><a href="#">What's this?</a></div>
                        </div>
                    </div>

            </div>

            <div class="col-lg-6 text-center">

                    <div class="panel">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="col-xs-3">
                                    <i class="fa fa-clock-o fa-5x"></i>
                                </div>
                                <div class="col-xs-9 text-right">
                                    <div><strong>Shortest Films</strong></div>
                                    {% for item in runtime_list|slice:":3" %}
                                        <div>{{ forloop.counter }}. {{ item.title }} - {{ item.runtime }} mins</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer text-right">
                            <div><a href="#">What's this?</a></div>
                        </div>
                    </div>

            </div>

        </div>

    </div>
{% endblock %}

{% block post_main_script %}
    <script>
        $(function () {
            $('#container').highcharts({
                chart: {
                    zoomType: 'xy'
                },
                title: {
                    text: 'Ratings by Decade'
                },
                xAxis: [{
                    categories: [
                        {% for decade in decades_dictionary %}
                            {% if decade.1.0 > 1 %}
                                '{{ decade.0 }}',
                            {% endif %}
                        {% endfor %}
                    ],
                    crosshair: true
                }],
                yAxis: [{ // Primary yAxis
                    labels: {
                        format: '{value}',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    title: {
                        text: 'Average Score Given',
                        style: {
                            color: Highcharts.getOptions().colors[1]
                        }
                    },
                    min: 0,
                    max: 10
                }, { // Secondary yAxis
                    title: {
                        text: 'Number of Ratings Made',
                        style: {
                            color: Highcharts.getOptions().colors[0]
                        }
                    },
                    labels: {
                        format: '{value}',
                        style: {
                            color: Highcharts.getOptions().colors[0]
                        }
                    },
                    opposite: true,
                }],
                tooltip: {
                    shared: true
                },
                legend: {
                    align: 'center',
                    x: 0,
                    verticalAlign: 'top',
                    y: 30,
                    backgroundColor: (Highcharts.theme && Highcharts.theme.legendBackgroundColor) || '#FFFFFF'
                },
                series: [{
                    name: 'Number of Ratings Made',
                    type: 'column',
                    yAxis: 1,
                    data: [
                        {% for decade in decades_dictionary %}
                            {% if decade.1.0 > 1 %}
                                {{ decade.1.0 }},
                            {% endif %}
                        {% endfor %}
                    ],
                    tooltip: {
                        valueSuffix: ''
                    }

                }, {
                    name: 'Average Rating Given',
                    type: 'spline',
                    data: [
                        {% for decade in decades_dictionary %}
                            {% if decade.1.0 > 1 %}
                                {{ decade.1.1 }},
                            {% endif %}
                        {% endfor %}
                    ],
                    tooltip: {
                        valueSuffix: ''
                    }
                }]
            });
        });
    </script>
{% endblock %}